{% extends 'listApp/base.html' %}

{% block content %}
    <article class="list">
        <h2>{{ list.name }}</h2>
        <br>
        <ul>
            {% for item in items %}
                <li>
                    <input type="checkbox" id="item{{ item.id }}" data-id="{{ item.id }}" name="itemCheckbox" {% if item.completed %}checked{% endif %}>
                    <label for="item{{ item.id }}"><a href="{% url 'item_edit' pk=item.pk %}">{{ item.name }}</a></label>
                </li>
            {% endfor %}
            <li>
                <a href ="{% url 'item_new' pk=list.pk %}"> Add New Item</a>
            </li>
        </ul>
    </article>

    <script>
        $(document).ready(function() {
            $('input[type="checkbox"]').on('change', function() {
                var checkbox = $(this);
                var isChecked = checkbox.is(':checked');
                var itemId = checkbox.data('id');

                var confirmationMessage = isChecked 
                ? 'Are you sure you want to mark this task as completed?'
                : 'Are you sure you want to mark this task as not completed?';
                
                if (confirm(confirmationMessage)) {
                    $.ajax({
                        url: '/update-task/',
                        type: 'PUT',
                        data: JSON.stringify({
                            'id': taskId,
                            'checked': isChecked
                        }),
                        contentType: 'application/json',
                        success: function(response) {
                            console.log('Task ' + response.id + ' is now ' + (response.completed ? 'completed' : 'not completed'));
                        },
                        error: function(response) {
                            console.error('An error occurred.');
                        }
                    });
                } else {
                    checkbox.prop('checked', !isChecked);
                }
            });
        });
    </script>
{% endblock %}